# Dependencias
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/

# SECRETOS — nunca subir
.env
.env.local
.env*.local
*.pem
*.key

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Audios de prueba
/tmp/
/uploads/
